*{
	margin: 0px;
	padding: 0px;
}
.wrapper{
	padding: 20px;/*
	background-image: url("http://i.imgur.com/RdcuHNc.gif");
	background-repeat: repeat-y;*/
	height: 100%;
	width: 100%;
}
div{
	outline: 1px dotted black;
}
.hitpoints{
	min-height: 40px;
	width: 20%;
	margin: 0px auto;
	padding: 5px;
}
.turkey{
	height: 300px;
	width: 40%;
	margin: 0px auto;
}
.items{
	min-height: 40px;
	width: 40%;
	margin: 0px auto;
	padding: 10px;
}
.record{
	height: 400px;
	width: 50%;
	margin: 0px auto;
	background-image: url("http://i.imgur.com/RdcuHNc.gif");
	color: black;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
button{
	padding: 8px;
	background-color: orange;
}